/* Basic styles for the header */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  color: orange; /* Updated title color */
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.toggle-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    padding: 10px;
  }

  .toggle-menu {
    display: block;
  }

  .nav-menu.show {
    display: flex;
  }
}

.sidebar {
  width: 20%;
  min-height: 500px;
  background-color: #8086f2;
  color: #f2f2dc;
  font-size: 18px;
  padding: 20px;
}

p {
  padding: 20px;
}

/* class uses a dot "." */

h2 {
  padding: 20px;
  margin: 0;
}

.content {
  flex: 1;
}

button {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  flex: 1;
}

#clearAll {
  background-color: #fa3709;
  color: white;
  border: none;
  cursor: pointer; /* Makes the button look clickable */
}
#clearAll:hover {
  background-color: darkred; /* Optional: Darkens the color on hover */
}
